.navigation_main--nojs .navigation__toggle {
  display: none;
}

.navigation_main--nojs {
  display: block;
  background-color: @base-white;
  z-index: 5;
}

.navigation_main--opened .navigation__toggle::after {
  position: absolute;
  content: "";
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
  top: 22px;
  right: 20px;
  cursor: pointer;
}

.navigation_main--closed .navigation__toggle::after {
  position: absolute;
  content: "";
  background-image: url("../img/menu-burger.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
  top: 22px;
  right: 20px;
  cursor: pointer;
}

.navigation__list {
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.navigation_main--closed .navigation__list {
  display: none;
}

// .navigation_main--nojs .navigation__list {
//   display: block;
// }

.navigation__list.navigation__list--opened {
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
  right: 0;
  background-color: @base-white;
  z-index: 5;
}

.navigation__list.navigation__list--nojs {
  display: block;
}

.navigation__list-item {
  position: relative;
  border-bottom: 1px solid @base-secondary;
}

.navigation__list-item_first {
  border-top: 1px solid @base-secondary;
}

.navigation__link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;
  text-align: center;
  color: @base-black;
}

.navigation__link-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: @base-primary;
  bottom: 0;
  left: 0;
}

.navigation__link:hover,
.navigation__link:focus {
  color: @base-primary;
}

.navigation__link:active {
  color: @base-black;
  background-color: @base-primary-hover;
}

.navigation-user {
  padding-right: 39px;
}

.navigation-user--nojs {
  padding-right: 0;
}

@media (min-width: @tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation_main--closed .navigation__list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    top: 0;
    left: 48%;
    transform: translateX(-50%);
  }

  .navigation__list-item {
    border: none;
  }

  .navigation__link {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .navigation_main--closed .navigation__list {
    width: 460px;
    left: 52%;
  }

  .navigation__list-item:not(:last-child) {
    margin-right: 20px;
  }

  .navigation__link {
    padding-bottom: 32px;
  }

  .navigation__link:active {
    color: @primary-darker;
    background-color: @base-primary-hover;
  }
}
