.navigation-user {
  display: flex;
}

.navigation-user__button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user__button-span {
  display: none;
}

@media (min-width: @desktop-width) {
  .navigation-user__button-span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: @base-black;
    text-transform: uppercase;
  }

  .navigation-user__button_log-in {
    margin-right: 20px;
    width: 112px;
  }

  .navigation-user__button_car {
    width: 129px;
  }

  .navigation-user__icon {
    margin-right: 8px;
  }
}
